---
import BaseHead from '../components/BaseHead.astro';
import Header from '../components/Header.astro';
import Footer from '../components/Footer.astro';
import { SITE_TITLE, SITE_DESCRIPTION } from '../config';
---

<!DOCTYPE html>
<html lang="en">
	<head>
		<BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
	</head>
	<body>
		<Header title={SITE_TITLE} />
		<main>
			<h1>Hello!</h1>
			<p>
				Lorem ipsum dolor sit amet consectetur adipisicing elit. Natus voluptatum, nesciunt ipsa atque quos cupiditate vero quas. Doloribus illum tempore reprehenderit sunt, sint accusamus maxime delectus quo iusto soluta minus!
			</p>
		</main>
		<Footer />
	</body>
</html>
