---
import HeaderLink from "./HeaderLink.astro";
import { SITE_TITLE } from "../config";
---

<header>
	<div class="wrapper">
		<div class="header-container">
			<div class="logo">
				{SITE_TITLE}
			</div>
			<nav class="nav">
				<HeaderLink href="/">Home</HeaderLink>
				<HeaderLink href="/til">TIL</HeaderLink>
				<HeaderLink href="/links">Links</HeaderLink>
			</nav>
		</div>
	</div>
</header>
<style>
	header {
		padding-top: var(--space-s-m);
	}

	.header-container {
		display: flex;
		justify-content: space-between;
	}

	.nav {
		display: flex;
		gap: var(--space-m-l);
	}
</style>
