.f-c-c {
  display: flex;
  justify-content: center;
  align-items: center;
}

.f-c {
  display: flex;
  justify-content: center;
}

.fd-c {
  flex-direction: column;
}

.f-sb-c {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  gap: var(--space-m-l);
}