body {
  display: flex;
  flex-direction: column;
  background-color: var(--color-thr);
  overflow: hidden;
}

header {
  padding-top: var(--space-s-m);

}

main {
  flex: 1;
  display: flex;
  align-items: center;
}

.wrapper {
  width: 90vw;
  width: clamp(16rem,93vw,75rem);
  margin-left: auto;
  margin-right: auto;
  padding-left: clamp(1.09rem,1rem + 0.47vw,1.33rem);
  padding-right: clamp(1.09rem,1rem + 0.47vw,1.33rem);
}

.welcome {
}

.nav {
  display: flex;
  gap: var(--space-m-l);
}

.link::before {  
  transform: scaleX(0);
  transform-origin: bottom right;
}

.link:hover::before {
  transform: scaleX(1);
  transform-origin: bottom left;
}

.link::before {
  content: " ";
  display: block;
  position: absolute;
  top: 0; right: 0; bottom: 0; left: 0;
  inset: 0 0 0 0;
  background: var(--color-two);
  z-index: -1;
  transition: transform .3s ease;
}

.link {
  color: var(--color-two);
  position: relative;
  text-decoration: underline;
}

.link:hover {
  color: var(--color-one);
}

.footer-container {
  position: relative;
  background-color: var(--color-two);
}

.notification {
  position: absolute;
  bottom: calc(100% + 1rem);
  left: 0;
  right: 0;
  padding: 0 1rem;
  display: flex;
  justify-content: center;
}

.message {
  padding: 1rem;
  color: var(--color-thr);
  background-color: var(--color-one);
  border-radius: 0.5rem;
  text-align: center;
  opacity: 0;
}

.slide-in-bottom {
  -webkit-animation: slide-in-bottom 3s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
	        animation: slide-in-bottom 3s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
}

/**
 * ----------------------------------------
 * animation slide-in-bottom
 * ----------------------------------------
 */
 @-webkit-keyframes slide-in-bottom {
  0% {
    -webkit-transform: translateY(6rem);
            transform: translateY(6rem);
            opacity: 0;
  }
  5% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
            opacity: 1;
  }
  95% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
            opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
@keyframes slide-in-bottom {
  0% {
    -webkit-transform: translateY(6rem);
            transform: translateY(6rem);
            opacity: 0;
  }
  5% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
            opacity: 1;
  }
  95% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
            opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
