body {
  display: flex;
  flex-direction: column;
  background-color: var(--color-thr);
}

header {
  padding: 2rem 0;
}

main {
  flex: 1;
  display: flex;
  align-items: center;
}

.wrapper {
  width: 90vw;
  width: clamp(16rem,93vw,75rem);
  margin-left: auto;
  margin-right: auto;
  padding-left: clamp(1.09rem,1rem + 0.47vw,1.33rem);
  padding-right: clamp(1.09rem,1rem + 0.47vw,1.33rem);
}

.welcome {
}

.nav {
  display: flex;
  gap: 2rem;
}
