body {
  display: flex;
  flex-direction: column;
  background-color: var(--color-thr);
  overflow: hidden;
}

header {
  padding: 2rem 0;
}

main {
  flex: 1;
  display: flex;
  align-items: center;
}

.wrapper {
  width: 90vw;
  width: clamp(16rem,93vw,75rem);
  margin-left: auto;
  margin-right: auto;
  padding-left: clamp(1.09rem,1rem + 0.47vw,1.33rem);
  padding-right: clamp(1.09rem,1rem + 0.47vw,1.33rem);
}

.welcome {
}

.nav {
  display: flex;
  gap: 2rem;
}

.footer-container {
  position: relative;
  background-color: red;
}

.notification {
  position: absolute;
  bottom: calc(100% + 1rem);
  left: 0;
  right: 0;
  padding: 0 1rem;
  display: flex;
  justify-content: center;
}

.message {
  padding: 1rem;
  color: var(--color-thr);
  background-color: var(--color-one);
  border-radius: 0.5rem;
  text-align: center;
  display: none;
}

.slide-in-bottom {
  display: block;
  -webkit-animation: slide-in-bottom 3s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
	        animation: slide-in-bottom 3s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
}

/**
 * ----------------------------------------
 * animation slide-in-bottom
 * ----------------------------------------
 */
 @-webkit-keyframes slide-in-bottom {
  0% {
    -webkit-transform: translateY(4rem);
            transform: translateY(4rem);
  }
  15% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
  85% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
  100% {
    -webkit-transform: translateY(4rem);
            transform: translateY(4rem);
  }
}
@keyframes slide-in-bottom {
  0% {
    -webkit-transform: translateY(6rem);
            transform: translateY(6rem);
  }
  15% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
  85% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
  100% {
    -webkit-transform: translateY(6rem);
            transform: translateY(6rem);
  }
}
