@font-face {
  font-family: "RobotoSlab";
  src: local('RobotoSlab Black'), local('RobotoSlab Black'), url("../fonts/RobotoSlab-Black.ttf");
  font-weight: 900;
  font-display: swap;
}

@font-face {
  font-family: "Roboto";
  src: local('Roboto'), local('Roboto Regular'), local('Roboto-Regular'), url("../fonts/Roboto-Regular.ttf");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Roboto";
  src: local('Roboto Italic'), local('Roboto-Italic'), url("../fonts/Roboto-Italic.ttf");
  font-weight: 400;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: "Roboto";
  src: local('Roboto Bold'), local('Roboto-Bold'), url("../fonts/Roboto-Bold.ttf");
  font-weight: 700;
  font-display: swap;
}

@font-face {
  font-family: "Roboto";
  src: local('Roboto BoldItalic'), local('Roboto-BoldItalic'), url("../fonts/Roboto-BoldItalic.ttf");
  font-weight: 700;
  font-style: italic;
  font-display: swap;
}

.header-primary {
  font-family: 'RobotoSlab', serif;
  font-weight: 900;
  font-size: var(--step-3);
  line-height: 1;
  margin-bottom: var(--space-s-m);
}

.text-primary {
  font-size: var(--step-0);
  line-height: 1.5;
}