:root {
  --color-one: #393E46;
  --color-two: #6D9886;
  --color-thr: #EEE6D9;
  --color-fou: #F7F7F7;

  --step--2: clamp(0.64rem, calc(0.63rem + 0.05vw), 0.67rem);
  --step--1: clamp(0.80rem, calc(0.72rem + 0.39vw), 1.00rem);
  --step-0: clamp(1.00rem, calc(0.80rem + 0.98vw), 1.50rem);
  --step-1: clamp(1.25rem, calc(0.86rem + 1.95vw), 2.25rem);
  --step-2: clamp(1.56rem, calc(0.86rem + 3.54vw), 3.38rem);
  --step-3: clamp(1.95rem, calc(0.74rem + 6.07vw), 5.06rem);

  --space-3xs: clamp(0.25rem, calc(0.20rem + 0.24vw), 0.38rem);
  --space-2xs: clamp(0.50rem, calc(0.40rem + 0.49vw), 0.75rem);
  --space-xs: clamp(0.75rem, calc(0.60rem + 0.73vw), 1.13rem);
  --space-s: clamp(1.00rem, calc(0.80rem + 0.98vw), 1.50rem);
  --space-m: clamp(1.50rem, calc(1.21rem + 1.46vw), 2.25rem);
  --space-l: clamp(2.00rem, calc(1.61rem + 1.95vw), 3.00rem);
  --space-xl: clamp(3.00rem, calc(2.41rem + 2.93vw), 4.50rem);
  --space-2xl: clamp(4.00rem, calc(3.22rem + 3.90vw), 6.00rem);
  --space-3xl: clamp(6.00rem, calc(4.83rem + 5.85vw), 9.00rem);

  /* One-up pairs */
  --space-3xs-2xs: clamp(0.25rem, calc(0.05rem + 0.98vw), 0.75rem);
  --space-2xs-xs: clamp(0.50rem, calc(0.26rem + 1.22vw), 1.13rem);
  --space-xs-s: clamp(0.75rem, calc(0.46rem + 1.46vw), 1.50rem);
  --space-s-m: clamp(1.00rem, calc(0.51rem + 2.44vw), 2.25rem);
  --space-m-l: clamp(1.50rem, calc(0.91rem + 2.93vw), 3.00rem);
  --space-l-xl: clamp(2.00rem, calc(1.02rem + 4.88vw), 4.50rem);
  --space-xl-2xl: clamp(3.00rem, calc(1.83rem + 5.85vw), 6.00rem);
  --space-2xl-3xl: clamp(4.00rem, calc(2.05rem + 9.76vw), 9.00rem);

  /* Custom pairs */
  --space-s-l: clamp(1.00rem, calc(0.22rem + 3.90vw), 3.00rem);
}